* {
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    min-width: 300px;
}

.itemDone {
    text-decoration: line-through;
}

.itemClose{
    /* background-color: red; */
    display: none;
}