* {
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    min-width: 300px;
    background-color:#29857F;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    background-color: #D4F2EF;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
}

.titleBox{
    text-align: center;
}

.itemDone {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

.itemClose{
    display: none;
}

.listToDo{
    padding: 10px;    
}

#buttonAdd{
    background:#29857F;
    color: #D4F2EF;
}

#buttonAdd:hover, li > button:hover {
    opacity: 0.6;
}

ol {
    list-style: none;
    counter-reset: item;
    padding-left: 0;
}

ol li:nth-child(even) {
    background: #e5e5e5;
}

li {
    counter-increment: item;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #29857F;
    margin: 5px;
    font-size: 18px;
}

li:hover{
    opacity: 0.9;
    border: black;
}

li:before {
    margin-left: 10px;
    margin-right: 10px;
    content: counter(item);
    background:#29857F;
    border-radius: 100%;
    color: #D4F2EF;
    width: 1.2em;
    text-align: center;
    display: inline-block;
}


li > button {
    margin-left: 10px;
    margin-right: 10px;
    background:#29857F;
    border-radius: 10px;
    color: #D4F2EF;
    text-align: center;
    display: inline-block;
    float: right;
}
 
 
li > button .text {
    margin-left: auto;
    margin-right: auto;
}
