* {
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    min-width: 300px;
    background-color:#29857F;
}


.container{
    background-color: #D4F2EF;
    max-width: 600px;
    margin: 0 auto;
    /* max-width: 450px; */
    border-radius: 5px;
    /* border: 3px solid red; */
}

.titleBox{
    text-align: center;
}

.itemDone {
    text-decoration: line-through;
}

.itemClose{
    /* background-color: red; */
    display: none;
}

/* .listItem{
    background-color: white;
    border-radius: 10px;
    margin: 5px;
} */

.listToDo{
    /* padding: 0; */
    margin: 10px;
}

/* 
.listItem > li::marker, .listItem > li, .listItem > button{
    display: inline-block;
}

.listItem > button{
    float: right;
} */

li > button {
    /* float: right; */
  }



  ol {
    list-style: none;
    counter-reset: item;
    padding-left: 0;
  }
  li {
    counter-increment: item;
    height: 25px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #29857F;
    margin: 5px;
  }
  li:before {
    margin-left: 10px;
    margin-right: 10px;
    content: counter(item);
    background:#29857F;
    border-radius: 100%;
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block;
  }